.App {
  text-align: center;
  /* background-color: #DA70D6; */
  height : 100%;
  width: 100%;
}
.questionContainer {
  padding-top: 10px;
  height: 100%;
}

.progress {
  height : 30px;
}

.progress-bar {
  padding-top: 4px;
  font-size: 18px;
  /* background-color:#EE82EE; */
}

.jumbotron {
  font-size: 30px;
  height: 250px;
  /* background-color: #EE82EE; */
  /* color: white; */
}

.list-group-item{
  font-size: 20px;
  text-align: center;
}

.gridDisplay {
  height: 100%;
}


